*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/misc.xml
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/arm64-v8a/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/armeabi-v7a/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/armeabi/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/x86/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/01c4a1201b32276012eeda55ab30a2221c5d8da4.jar
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/b524ce2f8d885933e9c3d86393ebe76d4c448dce.jar
/IMKit/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/fcc2df8849e4d43cc94f3304577bf53453b6ec22.jar
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/arm64-v8a/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/armeabi-v7a/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/armeabi/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/folders/2000/4/0293ba2cf9e6848387a1cee37e232da2a6f5cd70/x86/libRongIMLib.so
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/01c4a1201b32276012eeda55ab30a2221c5d8da4.jar
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/b524ce2f8d885933e9c3d86393ebe76d4c448dce.jar
/IMKit/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/fcc2df8849e4d43cc94f3304577bf53453b6ec22.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/01c4a1201b32276012eeda55ab30a2221c5d8da4.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/b524ce2f8d885933e9c3d86393ebe76d4c448dce.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/debug/jars/2000/10/fcc2df8849e4d43cc94f3304577bf53453b6ec22.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/01c4a1201b32276012eeda55ab30a2221c5d8da4.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/b524ce2f8d885933e9c3d86393ebe76d4c448dce.jar
/IMLib/build/intermediates/transforms/stripDebugSymbol/release/jars/2000/10/fcc2df8849e4d43cc94f3304577bf53453b6ec22.jar
/IMKit/build
/IMLib/build
/.idea
